@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");
.navbar {
    overflow: visible;
    justify-content: left;
    background-color: #333;
    position:relative; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

.navbar a {
    color: #f2f2f2;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    background: white;
    color: black;
}

/* Dropdown Button */
.dropbtn {
    background-color:inherit;
    color: white;
    padding:14px 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    min-width: 160px;
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}