<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      Show all acquired books here.
    </div>
    <div class="col-5">
      <form [formGroup]="bookModel" (ngSubmit)="uploadBook()" id="upload-form" enctype="multipart/form-data">
        <label class="form-label" for="file-name">Enter file name</label>
        <input type="text" class="form-control" id="upload-name" formControlName="name">
        <label class="form-label" for="author-name">Enter author(s)</label>
        <input type="text" class="form-control" id="upload-author" formControlName="author">
        <label class="form-label" for="customFile">Upload pdf file</label>
        <input #book type="file" class="form-control" id="customFile"
        (input)="fileChosen($event)"/>
        <button type="submit">Confirm</button>
      </form>
    </div>
  </div>
</div>


