@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");
.navbar {
    overflow: hidden;
    justify-content: left;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

.navbar a {
    color: #f2f2f2;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    background: white;
    color: black;
}

.container {
    margin-top: 10%;
}
#upload-form label {
    margin-top: 10%;
}
#upload-form button {
    margin-top: 10%;
}
#upload-form #close-btn {
    position: absolute;
    margin-top: 5%;
  float: right;
  top: 1px;
  right: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  text-align: center;
}