@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");

.container {
    margin-top: 10%;
}
#upload-form label {
    margin-top: 10%;
}
#upload-form button {
    margin-top: 10%;
}
#upload-form #close-btn {
  position: absolute;
  margin-top: 5%;
  float: right;
  top: 1px;
  right: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  text-align: center;
}