<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">Book-Chainfer</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Owned</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Published</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Read only</a>
          </li>
          <li>
            <a class="nav-link">Upload</a>
          </li>
          <!-- <li>
            <a class="nav-link" (click)="logOut()">Logout</a>
          </li> -->
          <li>
            <div class="dropdown">
              <!--Change Account to account address or metamask address-->
              <button class="dropbtn">Your account: {{userAddress}}</button>
              <div class="dropdown-content">
                <a href="#">My Books</a>
                <a href="#">Settings</a>
                <a class="nav-link" (click)="logOut()" style="color: red;">Logout</a>
              </div>
            </div>
          </li>
        </ul>

        
        
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-sm">
      Show all acquired books here.
    </div>
    <div class="col-sm">
      <form [formGroup]="bookModel" (ngSubmit)="uploadBook()" id="upload-form" enctype="multipart/form-data">
        <button type="button" id="close-btn">X</button>
        <label class="form-label" for="file-name">Enter file name</label>
        <input type="text" class="form-control" id="upload-name" formControlName="name">
        <label class="form-label" for="author-name">Enter author(s)</label>
        <input type="text" class="form-control" id="upload-author" formControlName="author">
        <label class="form-label" for="customFile">Upload pdf file</label>
        <input #book type="file" class="form-control" id="customFile"
          (change)=loadBook(book.files)/>
        <button type="submit">Confirm</button>
      </form>
    </div>
  </div>
</div>


