<div class="navbar">
    <a (click)=login() id="login-btn">Login with Metamask</a>
	<a (click)="loginPopupOnClick()" id="register-btn">Register</a>
</div>

<div class="section banner-full">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 justify-content-xs-center">
				<div class="image" data-aos="flip-right">
					<img class="img-fluid" src="assets/images/iphone-black.jpg" alt="Iphone-Black">
				</div>
			</div>
			<div class="col-lg-8 align-self-center">
				<div class="block">
					<h1>Introducing BOOK-CHAINFER
						<br>Publishing & Sharing Right Transfer 
            <br>For Books & Documents</h1>
					<p>
						The decentralized app that utilizes blockchain
						<br>to verify, secure publishing right transfer 
						<br>and allow faster, convenient distribution.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="overlay" id="black-bg"></div>
<div class="login-popup" id="login-popup">
  <h3>Please login to continue</h3>
  <button type="button" id="close-btn" (click)=closePopup()>X</button>
  <button type="button" class="popup-btn">Login via Metamask</button>
  <button type="button" class="popup-btn" (click)=linkToMetamask()>Don't have Metamask?</button>
</div>

<form id="register-popup">
	<button type="button" id="close-btn" (click)=closePopup()>X</button>

	<h3 style="text-align: center;">Register with Metamask</h3> 
	<label for="metamask-address"><b>Metamask Address </b></label><br>
	<input type="text" placeholder="Enter Metamask Addess" id="metamask-input"
	[(ngModel)]="registerInfo.address" #address="ngModel" name="address"><br>
	
	<label for="fullname"><b>Full Name </b></label><br>
	<input type="text" placeholder="Enter Full Name" id="fullname-input"
	[(ngModel)]="registerInfo.fullName" #fullName="ngModel" name="fullName"><br>

	<label for="email"><b>Email </b></label><br>
	<input type="text" placeholder="Enter Email" id="email-input"
	[(ngModel)]="registerInfo.email" #email="ngModel" name="email"><br>

	<button (click)="register()" type="submit" id="register-btn">Confirm</button>
</form>

<footer class="footer-classic">
  <ul class="footer-links list-inline">
    <li class="list-inline-item">
      <a href="https://github.com/hungnguyenmanhGL/Book-Chainfer">Download</a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/hungnguyenmanhGL/Book-Chainfer">Developer</a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/hungnguyenmanhGL/Book-Chainfer">Support</a>
    </li>
  </ul>
</footer>