<div class="container">
    <div class="row">
      <div class="column">
        <input type="text" name="title" placeholder="Book title">
        <input type="file"><br>
        <button type="submit" class="btn btn-primary">Add file</button>
      </div>
      <div class="column">
        <input type="text" class="address" placeholder="Contract address">
        <br>
        <input type="number" class="bookId" placeholder="Book ID to publish">
        <br>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
      <div class="column">
        <input type="text" class="address" placeholder="Contract address"><br>
        <input type="number" class="bookId" placeholder="Book ID to read"><br>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>